#footer-block {
    background-color: #222222;
    min-height: 300px;
    padding-left: 150px;
    padding-right: 150px;
}

#navigation-bar {
    background-color: aqua;
}

.main-content {
    background-color: coral;
    min-height: 1700px;
}

.social-media-icon {
    height: 32px;
    width: 32px;
}

.social-media-icon:hover {
    filter: brightness(2);
}

#map-office-label {
    font-size: 20px;
    color: red;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.footer-nav-element {
    height: 20px !important;
    min-height: 25px !important;
    float: none !important;
}

.footer-nav-element-selected {
    height: 20px !important;
    padding-top: 3px !important;
    min-height: 25px !important;
    min-width: 100px !important;
}

.header-contacts a {
    text-align: center;
    color: #222222;
}
.header-contacts a:link {
    text-align: center;
    color: #222222;
}
.header-contacts a:visited {
    text-align: center;
    color: #222222;
}
.header-contacts a:active {
    text-align: center;
    color: #222222;
}
.header-contacts a:hover {
    text-align: center;
    color: #9d9d9d;
    text-decoration: none;
}

.footer-contacts a {
    text-align: center;
    color: #9d9d9d;
}
.footer-contacts a:link {
    text-align: center;
    color: #9d9d9d;
}
.footer-contacts a:visited {
    text-align: center;
    color: #9d9d9d;
}
.footer-contacts a:active {
    text-align: center;
    color: #9d9d9d;
}
.footer-contacts a:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}

.employee-contacts a {
    text-align: center;
    color: #333333;
}
.employee-contacts a:link {
    text-align: center;
    color: #333333;
}
.employee-contacts a:visited {
    text-align: center;
    color: #333333;
}
.employee-contacts a:active {
    text-align: center;
    color: #333333;
}
.employee-contacts a:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}

.carousel-items-block {
    padding: 0 0 0 0;
}

ol.carousel-indicators {
    align-content: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 15px;
    height: 15px;
    margin: 7.5px 7.5px 7.5px 7.5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

ol.carousel-indicators li.active {
    background: rgba(255, 255, 255, 0.5);
}

.carousel-item-layout {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-thumbnail img {
    width: 100%;
    height: 100%;
}

.project-thumbnail a {
    text-align: center;
    color: #333333;
}
.project-thumbnail a:link {
    text-align: center;
    color: #333333;
}
.project-thumbnail a:visited {
    text-align: center;
    color: #333333;
}
.project-thumbnail a:active {
    text-align: center;
    color: #333333;
}
.project-thumbnail a:hover {
    text-align: center;
    color: white;
    text-decoration: none;
}